

.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "header"
    "content"
    ;
}

.header {  
  border-radius: 5px;  
  display: grid;
  grid-template-columns: auto auto;
  vertical-align: middle;
}

.logo {
  margin: 0.5em;
  /* width: 2em; */
  display: grid;
  grid-template-rows: auto auto;
  /* height: 1em; */
  /* width: 3em; */
}

.content {
  border-radius: 5px;
  min-height: calc(100vh - 5rem);
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
